<%- include('partials/header') -%>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/feed">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
    <header class="container">
      <div class="text-center">
        <h1 class=""><a href="/profile">Masunta</a></h1>
        <span>The Number 1 Accountable Tool</span>
      </div>
    </header>
  </body>

  </html>

  <div class="container">
    <div>
      <p> Hello <strong>
          <%= user.userName %>
        </strong>
      </p>

    </div>
    <div class="col-12">

      <div class="mt-5">
        <h2>Declare</h2>
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">

          <div class="mb-3">
            <label for="caption" class="form-label"></label>
            <textarea class="form-control" id="caption" name="caption"
              placeholder="I will finish 1 codewars kata..."></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>



    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(let i=0; i<posts.length; i++) {%>
          <%if(!posts[i].taskDone){ %>
            <div>
              <li class="col-12">

                <div class="container ">



                  <div class='postBox'>
                    <div class="profile">
                      <% for(let j=0; j<profile.length; j++) {%>
                        <%if(profile[j].user==posts[i].user){ %>
                          <a href="">
                            <img class="profile-pic" src="<%= profile[j].image%>" alt="">
                          </a>
                          <% } %>
                            <%}%>

                              <a href="">
                                <h5 class="profile-name">
                                  <%= posts[i].createdBy%>
                                </h5>
                              </a>
                    </div>

                    <a href="/post/<%= posts[i]._id%>">
                      <h3 class="post">
                        <%= posts[i].caption%>
                      </h3>

                    </a>
                    <div class="mb-3">
                      <form action="/comment/createComment/<%=posts[i]._id%>" method="POST">
                        <div class="">

                          <textarea class="form-control postCaption" id="comment" name="comment"
                            placeholder="Add Comment..."></textarea>
                          <button class="btn btn-primary" type="submit">Post</button>
                        </div>
                      </form>
                    </div>
                  </div>





                </div>


              </li>
            </div>
            <%}%>
              <% } %>
      </ul>
    </div>
  </div>
  <%- include('partials/footer') -%>