<%- include('partials/header') -%>


  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/feed">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
    <header class="container">
      <div class="text-center">
        <h1 class=""><a href="/profile">Masunta</a></h1>
        <span>The Number 1 Accountable Tool</span>
      </div>
    </header>
  </body>

  </html>
  <div class="container">
    <div class="row justify-content-center mt-5">

      <!-- post -->

      <div class="container col-6 ">
        <div class='postBox'>

          <h5 class="profile">
            <%= post.createdBy%>
          </h5>


          <h3 class="post">
            <%= post.caption%>
          </h3>

          <form action="/comment/createComment/<%=post._id%>" method="POST">
            <div class="mb-3">
              <label for="comment" class="form-label"></label>
              <textarea class="form-control postCaption" id="comment" name="comment"
                placeholder="Add Comment..."></textarea>
              <button class="postButton" type="submit">Post</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-6">
        <ul>
          <% for(var i=0; i<comments.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <strong>
                <%= comments[i].createdBy%>
              </strong>
              <%= comments[i].comment%>

            </li>
            <% } %>
        </ul>
      </div>


      <div>
        <!-- <h2>
          <%= post.title %>
        </h2>
        <img class="img-fluid" src="<%= post.image%>" /> -->
        <div class="row justify-content-between col-6">
          <%if(post.user==user.id){ %>
            <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <%}%>
              <%if(post.user==user.id && !post.taskDone){ %>
                <form class="col-1" action="/post/taskDone/<%= post.id %>?_method=PUT" method="POST">
                  <button class="btn btn-primary fa fa-check" type="submit"></button>
                </form>

                <%}%>

        </div>
      </div>
      <!-- comment -->
      <!-- <div class="col-6 mt-5">
        <h2>Add a comment</h2>


        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </div> -->

      <!-- <div class="col-6 mt-5">
        <a class="btn btn-primary" href="/profile">Return to Profile</a>
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div> -->
    </div>
  </div>

  <%- include('partials/footer') -%>